<footer class="page-footer">
  <div class="container">
    <ul class="page-footer__list">
      <li>
        <ul class="page-footer__nav-list">
          <li class="page-footer__item"><a href="index.html">Главная</a></li>
          <li class="page-footer__item"><a href="about.html">О нас</a></li>
          <li class="page-footer__item"><a href="services.html">Услуги</a></li>
          <li class="page-footer__item"><a href="actions.html">Акции</a></li>
          <li class="page-footer__item"><a href="careers.html">Вакансии</a></li>
          <li class="page-footer__item"><a href="contacts.html">Контакты</a></li>
        </ul>
      </li>
      <li>
        <ul class="page-footer__repair-list">
          <li class="page-footer__item  page-footer__item--title"><a href="#">РЕМОНТ</a></li>
          <li class="page-footer__item"><a href="#">Компьютеров</a></li>
          <li class="page-footer__item"><a href="#">Ноутбуков</a></li>
          <li class="page-footer__item"><a href="#">Сотовых телефонов</a></li>
          <li class="page-footer__item"><a href="#">Планшетов</a></li>
          <li class="page-footer__item"><a href="#">Бытовой техники</a></li>
        </ul>
      </li>
      <li>
        <ul class="page-footer__third-list">
          <li class="page-footer__item  page-footer__item--title"><a href="#">МОДЕРНИЗАЦИЯ</a></li>
          <li class="page-footer__item"><a href="#">Компьютеров</a></li>
          <li class="page-footer__item"><a href="#">Ноутбуков</a></li>
          <li class="page-footer__item  page-footer__item--title"><a href="#">ПОСТАВКА</a></li>
          <li class="page-footer__item"><a href="#">Комплектующих</a></li>
        </ul>
      </li>
      <li>
        <ul class="page-footer__address-list">
          <li class="page-footer__address-item">Мы находимся: г.Воткинск, ул. 1-Мая, д. 83, Магазин Торговый дом «Мужские товары», г.Воткинск, ул. Волгоградская, д. 22, ТЦ «Альфа», 2 этаж, Время работы: пн-пт с 10:00 до 19:00, сб-вс с 10:00 до 16:00</li>
          <li class="page-footer__address-item">ООО «Цифро», 2017. Все права защищены.</li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
