<footer>
  <ul>
    <li>
      <ul>
        <li>Главная</li>
        <li>О нас</li>
        <li>Услуги</li>
        <li>Акции</li>
        <li>Вакансии</li>
        <li>Контакты</li>
      </ul>
    </li>
    <li>
      <ul>
        <li>РЕМОНТ</li>
        <li>Компьютеров</li>
        <li>Ноутбуков</li>
        <li>Сотовых телефонов</li>
        <li>Планшетов</li>
        <li>Бытовой техники</li>
      </ul>
    </li>
    <li>
      <ul>
        <li>МОДЕРНИЗАЦИЯ</li>
        <li>Компьютеров</li>
        <li>Ноутбуков</li>
        <li>ПОСТАВКА</li>
        <li>Комплектующих</li>
      </ul>
    </li>
    <li>
      <ul>
        <li>Мы находимся: г.Воткинск, ул. 1-Мая, д. 83,
Магазин Торговый дом «Мужские товары»,
г.Воткинск, ул. Волгоградская, д. 22, ТЦ «Альфа», 2 этаж,
Время работы: пн-пт с 10:00 до 19:00, сб-вс с 10:00 до 16:00</li>
        <li>ООО «Цифро», 2017. Все права защищены.</li>
      </ul>
    </li>
  </ul>
</footer>
