.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  // display: flex;
  // flex-direction: column;

  // display: none;

  width: 310px;
  height: 100vh;
  // padding-top: 40px;
  // padding-bottom: 40px;

  text-align: center;

  background-color: #fefb07;

}

.sidebar__wrapper {
  height: 100vh;
  // margin: 40px 0;

  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
}

.sidebar__logo {
  margin-top: 40px;
}

.sidebar__title {
  margin: 0;
  // padding-top: 25px;
  margin-top: 25px;

  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.sidebar__recall {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebar__phone {
  display: flex;
  align-items: center;
  // justify-content: center;
  // padding-top: 220px;
  // margin: 0 auto;
  // margin-top: 220px;
  margin-right: auto;

  font-weight: 400;
  font-size: 16px;
}

.sidebar__call {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  // padding-top: 27px;
  margin-top: 20px;

  font-weight: 400;
  font-size: 16px;
}

.sidebar__phone::before {
  content: "";

  display: block;
  width: 30px;
  height: 31px;
  margin-right: 9px;

  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sidebar__call::before {
  content: "";

  display: block;
  width: 30px;
  height: 31px;
  margin-right: 9px;

  background-image: url("../img/call.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sidebar__status-wrapper {
  margin-top: 50px;

  overflow: hidden;
}

.sidebar__status {
  position: relative;

  display: block;
  padding: 18px 27px;
  // margin: 50px auto 0 auto;
  // margin-top: 50px;

  font-weight: 400;
  font-size: 16px;

  border: 2px solid #000000;

  // overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -44px;
    left: -79px;

    width: 100px;
    height: 29px;

    border: 2px solid #000000;
    background-color: #fefb07;

    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -44px;
    right: -79px;

    width: 100px;
    height: 29px;

    border: 2px solid #000000;
    background-color: #fefb07;

    transform: rotate(45deg);
  }
}

// .sidebar__status::before {
//   content: "";
//   position: absolute;
//   z-index: 1;
//   top: -44px;
//   left: -79px;

//   width: 100px;
//   height: 29px;

//   border: 2px solid #000000;
//   background-color: #fefb07;

//   transform: rotate(45deg);
// }

.sidebar__status-smile {
  position: relative;

  margin: 0;

  &::after {
    content: "";
    position: absolute;
    top: -72px;
    right: -125px;

    width: 30px;
    height: 30px;

    background-image: url("../img/smile.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
}

.sidebar__status span::after {
  content: "";
  position: absolute;
  top: -13px;
  right: -14px;

  width: 30px;
  height: 30px;

  background-image: url("../img/smile.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.sidebar__vk {
  display: block;

  width: 60px;
  height: 60px;
  // margin: 200px auto 0 auto;
  // padding-top: 260px;
  margin-top: auto;
  margin-bottom: 40px;

  background-image: url("../img/vk-sidebar.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
