@font-face {
  font-family: "robotothin";
  src: url("../fonts/3967-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("../fonts/10626-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
