.description {
  padding: 60px 0;

  .container {
    display: flex;
  }
}

.description__wrapper {
  flex-basis: 75%;
  margin-right: 125px;
}

.description__title {
  margin: 0;

  color: #000000;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  // /* Text style for "СЦ "Цифро"" */
  // font-weight: 100;
  // /* Text style for "Для юридич" */
  // font-family: Roboto;
  // font-weight: 400;
}

.description p {
  margin: 0;
  padding-top: 30px;

  color: #000000;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto;
  font-weight: 100;
}
