.index-top {
  height: 688px;

  background-color: grey;
  background-image: url("../img/index-top-layer.png"),
                    url("../img/index-top.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center 0;
}

.index-top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.index-top__title {
  margin: 0;

  color: #fefb07;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;

  span {
    color: #ffffff;
  }
}

.index-top__button {
  padding: 18px 35px;

  color: #fefb07;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  // line-height: 20px;
  // line-height: 60px;
  text-decoration: underline;
  text-decoration-style: dashed;

  border: 2px solid #fefb07;
  background-color: transparent;
}

.index-top__question {
  padding-top: 220px;

  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
}

.index-top__request {
  position: absolute;

  padding: 60px 70px 40px 0;
  margin-left: 70px;
  height: 160px;
  // width: calc(100%-70px);

  background-color: #e6e7eb;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -70px;

    width: 0;
    height: 0;

    border-left: 70px solid transparent;
    border-bottom: 70px solid #e6e7eb;
  }

  &::after {
    content: "";
    position: absolute;
    top: 70px;
    left: -70px;

    width: 70px;
    height: 190px;

    background-color: #e6e7eb;
    // border-left: 75px solid transparent;
    // border-bottom: 75px solid #e6e7eb;
  }
}

.index-top__request form {
  display: flex;
  flex-wrap: wrap;

}

.index-top__request fieldset {
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  flex-basis: 25%;

  border: none;
}

.index-top__request legend {

  color: #999999;
  font-family: $font-roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 44px;
}

.index-top__request select {
  border: none;

  color: #000000;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;

  background-color: inherit;
}

.index-top__request option {

  color: #000000;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
}

.index-top__request button {
  padding: 20px 100px;
  margin: 0 auto;

  color: #000000;
  font-family: $font-roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;

  border: 2px solid #000000;
  background-color: #e6e7eb;
}
