.main__top-text {
  margin: 0;

  color: #000000;
  font-family: $font-roboto-thin;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  span {
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    font-family: Roboto;
    font-weight: 500;
  }
}

.main__features-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main__features-item {
  flex-basis: 33%;
  height: 170px;

  background-image: url("../img/yellow-field.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  p {
    margin: 0;

    color: #000000;
    font-family: $font-roboto-thin;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
  }

  p:first-child {

    color: #000000;
    font-family: $font-roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 28px;

  }
}

.main__buttons-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 120px;

  list-style: none;

  background-color: #e6e7eb;
}

.main__button {
  color: #080607;
  font-family: $font-roboto;
  font-size: 30px;
  font-style: italic;
  line-height: 30px;
  font-weight: 400;
}

 .main__aside {

 }

.main__aside-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main__aside-item {

color: #000000;
font-family: $font-roboto;
font-size: 16px;
font-style: italic;
line-height: 34px;
}
