.main {
  padding-top: 65px;
}

.main__top-text {
  margin: 0;

  color: #000000;
  font-family: $font-roboto-thin;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  span {
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    font-family: Roboto;
    font-weight: 500;
  }
}

.main__features-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 60px 0;

  list-style: none;
}

.main__features-item {
  // position: relative;

  flex-basis: 20%;
  height: 170px;
  padding-left: 50px;
  padding-top: 45px;

  background-image: url("../img/yellow-field.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  p {
    margin: 0;

    color: #000000;
    font-family: $font-roboto-thin;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
  }

  p:first-child {

    color: #000000;
    font-family: $font-roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 28px;
  }
}

.main__buttons-list {
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  height: 120px;

  list-style: none;

  background-color: #e6e7eb;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    width: 0;
    height: 0;

    border-bottom: 70px solid #ffffff;
    border-left: 70px solid #e6e7eb;
  }

  label {
    color: #080607;
    font-family: $font-roboto;
    font-size: 30px;
    font-style: italic;
    line-height: 30px;
    font-weight: 400;

    &:checked {
      font-style: normal;
    }
  }
}

#button-repair:checked ~ .container .main__buttons-list--repair {
  padding: 10px 20px;

  color: #080607;
  font-family: $font-roboto;
  font-size: 30px;
  font-style: normal;

  border: 1px solid #000000;
  border-bottom: none;
}

#button-modern:checked ~ .container .main__buttons-list--modern {
  padding: 10px 20px;

  color: #080607;
  font-family: $font-roboto;
  font-size: 30px;
  font-style: normal;

  border: 1px solid #000000;
  border-bottom: none;
}

#button-sale:checked ~ .container .main__buttons-list--sale {
  padding: 10px 20px;

  color: #080607;
  font-family: $font-roboto;
  font-size: 30px;
  font-style: normal;

  border: 1px solid #000000;
  border-bottom: none;
}

.main__text-wrapper {
  display: flex;
  padding-top: 60px;
  padding-bottom: 30px;
}

.main__aside {
  // display: none;
  // flex-basis: 40%;
  align-self: flex-start;
  margin-right: 70px;
  padding: 45px 70px 45px 35px;

  border: 2px solid #e6e7eb;
}



// .main__aside--repair {
//   display: block;
// }

.main__aside-list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
}

#button-repair:checked ~ .container .main__aside-list--repair1,
#button-repair:checked ~ .container .main__aside-list--repair2,
#button-modern:checked ~ .container .main__aside-list--modern,
#button-sale:checked ~ .container .main__aside-list--sale {
  display: block;
}

.main__aside-item {

  color: #000000;
  font-family: $font-roboto;
  font-size: 16px;
  font-style: italic;
  line-height: 34px;

  &:first-child {

    color: #000000;
    font-family: $font-roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;

  }
}

.main__aside-list--repair1 > .main__aside-item:nth-child(2),
.main__aside-list--modern > .main__aside-item:nth-child(2),
.main__aside-list--sale > .main__aside-item:nth-child(2) {
  position: relative;

  padding: 0 15px;

  display: inline-block;
  color: #000000;
  font-family: $font-roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;

  background-color: #fefb07;

  &::after {
    content: "";
    position: absolute;

    bottom: 0;
    right: 0;

    width: 0;
    height: 0;

    border-left: 10px solid #fefb07;
    border-bottom: 10px solid #ffffff;
  }
}

.main__text-wrapper-inner {
  flex-basis: 120%;

  h3 {
    margin: 0;
    padding-bottom: 30px;
    display: none;

    color: #000000;
    line-height: 28px;
    font-family: $font-roboto;
    font-size: 30px;
    font-weight: 700;
  }

  p {
    margin: 0;
    padding-bottom: 25px;

    color: #000000;
    font-family: $font-roboto-thin;
    font-size: 16px;
    line-height: 28px;
    font-weight: 100;

    &:last-child {
      padding-bottom: 0;
    }

    span {
      font-size: 16px;
      line-height: 28px;
      color: #0066cc;
      font-family: $font-roboto;
      font-weight: 400;
    }
  }
}

#button-repair:checked ~ .container .title--repair,
#button-modern:checked ~ .container .title--modern,
#button-sale:checked ~ .container .title--sale {
  display: block;
}

.main__button-open {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 30px;

  background-image: url("../img/button-right.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  transform: rotate(90deg);
}

.main__button-order-wrapper {
  padding: 30px 0;
  margin-top: 30px;

  background-color: #e6e7eb;
}

.main__button-order {
  position: relative;

  display: none;
  margin: 0 auto;
  padding: 20px 25px;

  color: #000000;
  font-family: $font-roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;

  border: 2px solid #000000;

  .closed {
    display: none;
  }

  .open {
    display: block;
  }

  &--closed {
    .open {
      display: none;
    }

    .closed {
      display: block;
    }
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: -90px;
  //   left: 215px;

  //   // display: block;
  //   width: 30px;
  //   height: 30px;
  //   // margin: 0 auto;
  //   // margin-bottom: 30px;

  //   background-image: url("../img/button-right.png");
  //   background-repeat: no-repeat;
  //   background-position: 0 0;

  //   transform: rotate(90deg);
  // }
}

#button-repair:checked ~ .main__button-order-wrapper .main__button-order--repair,
#button-modern:checked ~ .main__button-order-wrapper .main__button-order--modern,
#button-sale:checked ~ .main__button-order-wrapper .main__button-order--sale {
  display: block;
}

.main__form {
  position: relative;

  padding-top: 60px;
}

.main__form--closed {
  display: none;
}

.main__form fieldset {
  position: relative;

  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  display: none;

  border: none;
}

#button-repair:checked ~ .container .main__form--repair,
#button-modern:checked ~ .container .main__form--modern,
#button-sale:checked ~ .container .main__form--sale {
  display: block;
}

.main__form-legend {
  padding-left: 100px;

  color: #000000;
  font-family: $font-roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
}

.main__form-legend--1 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;

    width: 70px;
    height: 70px;

    background-image: url("../img/number-one.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.main__form-legend--2 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;

    width: 70px;
    height: 70px;

    background-image: url("../img/number-two.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.main__form-legend--3 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;

    width: 70px;
    height: 70px;

    background-image: url("../img/number-three.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

#button-sale:checked ~ .container .main__form-legend--3 {
  padding-left: 0;

  &::before {
    display: none;
  }
}

.main__form-list-model {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-top: 50px;

  list-style: none;

  li {
    flex-basis: 20%;

    label {
      display: flex;
      flex-wrap: wrap;
      // align-content: space-around;
      justify-content: center;
      align-items: center;

      // margin: 0;
      // margin-left: 10px;

      color: #000000;
      font-family: $font-roboto-thin;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      text-transform: uppercase;
    }

    input {
      margin-right: 10px;
    }
  }

  li:nth-child(1n+6) {
    margin-top: 30px;
  }

  li:last-child {
    label {
      text-transform: none;
    }
  }
}

.model-list--hp::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/hp.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-list--sony::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/sony.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-list--asus::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/asus.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-list--lenovo::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/lenovo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-list--dell::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/dell.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-list--msi::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/msi.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-list--samsung::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/samsung.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-list--toshiba::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/toshiba.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-list--acer::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/acer.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-list--other::before {
  content: "";

  display: block;
  width: 91px;
  height: 54px;
  flex-basis: 100%;

  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: center;
}

.model-other {
  position: absolute;
  top: 250px;
  right: -65px;
  z-index: 10;

  // display: none;
  width: 370px;
  // height: 280px;
  padding-top: 20px;

  text-align: center;

  background-color: #e6e7eb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &--closed {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 173px;

    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #e6e7eb;
  }

  p {
    position: relative;

    margin: 0;
    padding-bottom: 20px;

    color: #000000;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 400;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 70px;

      width: 18px;
      height: 18px;

      background-image: url("../img/pen.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  textarea {
    width: 327px;
    height: 123px;
    margin: 0 20px;
  }
}

.defect-other {
  position: absolute;
  bottom: -270px;
  right: -65px;
  z-index: 10;

  width: 370px;
  padding-top: 20px;

  text-align: center;

  background-color: #e6e7eb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &--closed {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 173px;

    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #e6e7eb;
  }

  p {
    position: relative;

    margin: 0;
    padding-bottom: 20px;

    color: #000000;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 400;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 70px;

      width: 18px;
      height: 18px;

      background-image: url("../img/pen.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  textarea {
    width: 327px;
    height: 123px;
    margin: 0 20px;
  }
}

.defect-modern-other {
  position: absolute;
  bottom: -270px;
  right: -65px;
  z-index: 10;

  width: 370px;
  padding-top: 20px;

  text-align: center;

  background-color: #e6e7eb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &--closed {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 173px;

    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #e6e7eb;
  }

  p {
    position: relative;

    margin: 0;
    padding-bottom: 20px;

    color: #000000;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 400;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 45px;

      width: 18px;
      height: 18px;

      background-image: url("../img/pen.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  textarea {
    width: 327px;
    height: 123px;
    margin: 0 20px;
  }
}

.model-other__button-close,
.defect-other__button-close,
.defect-modern-other__button-close,
.comment-other__button-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 9px;
  height: 9px;

  background-image: url("../img/cross.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.model-other__button-submit,
.defect-other__button-submit,
.defect-modern-other__button-submit,
.comment-other__button-submit {
  padding: 10px 45px;
  margin-top: 20px;
  margin-bottom: 20px;

  color: #000000;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  border: 2px solid #000000;
}

.main__form-list-failure-wrapper {
  display: flex;
  justify-content: space-between;

  ul {
    margin: 0;
    padding: 0;
    padding-top: 50px;

    list-style: none;
  }

  li {
    flex-basis: 33%;
    padding-top: 15px;
  }
}

.defect-other__button {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 10px;

    width: 30px;
    height: 30px;

    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.defect-modern-other__button {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 10px;

    width: 30px;
    height: 30px;

    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.main__form-list-contacts {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  padding-top: 50px;

  list-style: none;

  li {
    flex-basis: 23%;
  }

  label {
    display: flex;
    flex-direction: column;

    color: #999999;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
  }

  input {
    padding: 30px;

    color: #000000;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;

    border: none;
    border-bottom: 1px solid #999999;
  }
}

.privacy-policy {
  padding-left: 100px;

  label {

    color: #999999;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    span {
      color: #0066cc;
    }
  }
}

.main__form-button-wrapper {
  position: relative;

  display: flex;
  // justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 120px;

  list-style: none;

  background-color: #e6e7eb;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    width: 0;
    height: 0;

    border-bottom: 70px solid #ffffff;
    border-left: 70px solid #e6e7eb;
  }
}

.main__form-button {
  padding: 15px 45px;
  margin: 0 auto;
  display: block;

  color: #000000;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  border: 2px solid #000000;
}

.main__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;

  color: #000000;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: underline;

  &::after {
    content: "";

    display: block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    // margin: 0 auto;
    // margin-bottom: 30px;

    background-image: url("../img/button-right.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    transform: rotate(-90deg);
  }
}

.main__form-button-comment {
  position: absolute;
  top: 50px;
  right: 150px;

  color: #000000;
  font-family: $font-roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    right: -40px;

    width: 30px;
    height: 30px;

    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.comment-other {
  position: absolute;
  bottom: -270px;
  right: -65px;
  z-index: 10;

  width: 370px;
  padding-top: 20px;

  text-align: center;

  background-color: #e6e7eb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &--closed {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 173px;

    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #e6e7eb;
  }

  p {
    position: relative;

    margin: 0;
    padding-bottom: 20px;

    color: #000000;
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 400;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 70px;

      width: 18px;
      height: 18px;

      background-image: url("../img/pen.png");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  textarea {
    width: 327px;
    height: 123px;
    margin: 0 20px;
  }
}

.main__button-close-closed {
  display: none;
}
